.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.form-group label {
    width: 100px;
    text-align: right;
    margin-right: 1em;
}


.login-panel-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.login-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 90%;
}

.login-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.login-button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.login-button:hover {
    background-color: #0056b3;
}